<div class="row" style="margin-top: 5%">
    <div class="col s12 l5 m5">
        <div class="card" style="min-height:300px;">
            <div class="card-content teal white-text">
                <div class="row">
                    <div class="col s4 l4 m4">
                        <i class="material-icons">flight_takeoff</i>
                    </div>
                    <div class="col s8 l8 m8">
                        <h6 style="text-transform: uppercase">{{class}}</h6>
                        <h6>{{origin}} to {{destination}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-content white teal-text">
                <div class="row">
                    <div class="col s6 l6 m6">
                        <div class="valign-wrapper">
                            <i class="material-icons">account_circle</i> 
                            <span class="valign">{{title}} {{firstName}} {{lastName}}</span>
                        </div>
                    </div>
                    <div class="col s6 l6 m6">
                        <div class="chip teal white-text" *ngFor="let chip of store.bags" style="margin-bottom: 1%;">
                            <span>{{chip.size}} €{{chip.price}}
                                <i class="material-icons" (click)="removeBag(chip.size, chip.price)">close</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a href="#" (click)="removeAll()">Clear all</a>
            </div>
        </div>
    </div>
    <div class="col s12 l7 m7">
        <bags></bags>
    </div>
</div>